.header{
	width:100%;
	height:90px;
	position:absolute;
	
	top:0;
	left:0;
	color:white;
	z-index:7;
	font-family:verdana;
	
}
#logo{
	left:5%;
	height:50px;
	width:100px;
	top:20px;
}
.heart-body{
	position:absolute;
	left:0px;
	top:8%;
	width:100%;
	height:500px;
	

}
#naming{
	left:70%;
	top:100%;
	font-family:verdana;
	font-size:18px;
	color:#fff;
	height:50px;
	width:400px;
}
#founder{
	left:70%;
	top:105%;
	font-family:verdana;
	font-size:18px;
	color:#fff;
	height:50px;
	width:400px;
}



 #heart{
	 
    
}